//
//  C++11.xcconfig
//  MCMT
//
//  Created by Jonathan Madsen on 1/16/13.
//
//

RUN_CLANG_STATIC_ANALYZER=NO
SCAN_ALL_SOURCE_FILES_FOR_INCLUDES=YES
VALIDATE_PRODUCT=YES
//USER_HEADER_SEARCH_PATHS=/opt/local/include /sw/include
VERSION_INFO_BUILDER=jmadsen
VERSIONING_SYSTEM=APPLE_GENERIC
GCC_OPTIMIZATION_LEVEL=3
//LLVM_LTO=YES
GCC_UNROLL_LOOPS=YES
CLANG_CXX_LANGUAGE_STANDARD=c++11
CLANG_CXX_LIBRARY=libc++
GCC_WARN_ABOUT_MISSING_NEWLINE=YES
GCC_WARN_SIGN_COMPARE=YES
//CLANG_WARN__EXIT_TIME_DESTRUCTORS=YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR=YES
GCC_WARN_ABOUT_RETURN_TYPE=YES
GENERATE_PROFILING_CODE=YES
TEST_AFTER_BUILD=YES
XCODE_ATTRIBUTE_ENABLE_OPENMP_SUPPORT=YES
GCC_FAST_MATH=YES
ENABLE_OPENMP_SUPPORT=YES
